{% extends "base.html" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/css/challenge-board.css">
{% endblock %}

{% block content %}

<div class="jumbotron">
	<div class="container">
		<h1>Challenges</h1>
	</div>
</div>
<div class="container">
	{% if infos %}
	<div id='errors'>
	{% for info in infos %}
		<div class="text-center"><h3 class="spinner-error">{{ info }}</h3></div>
	{% endfor %}
	</div>
	{% endif %}
	{% if errors %}
	<div id='errors'>
	{% for error in errors %}
		<div class="text-center"><h3 class="spinner-error">{{ error }}</h3></div>
	{% endfor %}
	</div>
	{% endif %}

	{% if admin or not errors %}
	<div id='challenges-board'>
		<div class="text-center">
			<i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
		</div>
	</div>
</div>

<input id="nonce" type="hidden" name="nonce" value="{{ nonce }}">

<div class="modal fade" id="chal-window" tabindex="-1" role="dialog">
</div>
{% endif %}
{% endblock %}

{% block scripts %}
	<script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/utils.js"></script>
	<script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/multi-modal.js"></script>
	{% if admin or not errors %}
	<script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/chalboard.js"></script>
	{% endif %}
	<script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/style.js"></script>
{% endblock %}
